.form-container{
  border: 1px solid #eeeeee;
  border-radius: 2px;
  padding: 3rem;
}
.form-group{
  padding: 5px 20px;
}
.login-link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
